.call__container {
	background: url("../img/call.png") no-repeat #F5850A;
	background-position: 95.5% 0;
	box-sizing: border-box;
	max-width: 901px;
	padding-left: 5%;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.call__left {
	max-width: 287px;
	width: 100%;
}

.call__wrapper {
	display: flex;
}

.call {
	width: 100%;
	padding-bottom: 15px;

	& h2 {
		padding-top: 42px;
		padding-bottom: 6px;
		font-style: normal;
		font-weight: 900;
		font-size: 30px;
		line-height: 36px;
		color: #FFFFFF;
		margin-top: 0;
	}
}

.call__form {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 37px;
}

.call__form-items {
	display: flex;
	flex-wrap: wrap;
	max-width: 510px;
}

.call__input {
	width: 240px;
	height: 54px;
	padding-left: 24px;
	margin-right: 10px;
	margin-bottom: 0;
	background: transparent;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 100px;
	margin-bottom: 20px;
	color: #FFFFFF;

	&::placeholder {
		color: #FFC585;
	}
}

.call__btn {
	box-sizing: border-box;
	display: block;
	width: 240px;
	height: 54px;
	border-radius: 100px;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #F5850A;
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	padding-top: 18px;
}

.call__policy {
	align-self: end;
	display: flex;
	flex-direction: column;
	padding-top: 85px;
	font-style: normal;
	line-height: 18px;
	font-size: 12px;
	padding-left: 5px;

	& p {
		font-weight: normal;
		color: #FFFFFF;
		padding-bottom: 6px;
		margin: 0;
	}

	& a {
		text-decoration: none;
		font-weight: bold;
		color: #FFFFFF;
	}
}
@media (max-width: 1150px) {
	.call__container {
		background: #F5850A;
	}

	.call__policy {
		padding-top: 0;
	}
}
@media (max-width: 900px) {
	.call__left {
		display: none;
	}

	.call__container {
		padding-bottom: 20px;
	}

	.call {
		& h2 {
			text-align: center;
			padding-top: 14px;
			padding-bottom: 10px;
		}
	}

	.call__form {
		justify-content: center;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		margin-top: 30px;
	}

	.call__input {
		margin-right: 0;
		width: 100%;
	}

	.call__btn {
		width: 100%;
	}

	.call__policy {
		margin-top: 10px;
		align-self: center;
	}
}
