.catalog-index {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}



.catalog-index__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 35px;
  max-width: 1200px;
  min-height: 485px;
  padding-left: 70px;
  border: 1px solid #ffffff;
  background-image: url('../img/catalog-index-image1.png'), url('../img/catalog-index-image2.png'), url("../img/catalog-index-image3.png");
  background-size: 12% auto, 14% auto, 26% auto;
  background-repeat: no-repeat;
  background-position: right 260px top 30px, right -1px top 10px, right 90px bottom -1px;
}

.catalog-index h2 {
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
  line-height: 120%;
  margin-bottom: 28px;
}

.catalog-index ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 64%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-index ul li {
  margin-bottom: 12px;
  width: 193px;
  min-height: 30px;
  & .catalog-index__sublist {
    display: none;
    margin-left: 10px;
    margin-top: 10px;

    & li {
      border: none;

      & a {
        font-size: 14px;
        line-height: 17px;
        display: block;
        white-space: pre-wrap;
        & span{
white-space: pre-wrap;
          &::after {
            content: none;
          }

}
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  & a {
    text-decoration: none;
    display: block;
    position: relative;
            white-space: pre-wrap;
}
}

.catalog-index__list-hidden {
  display: block;
}

.catalog-index ul li a {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #ffffff;
  white-space: pre-wrap;
  display: block;
  & span {
    white-space: pre-wrap;
    position: relative;
  }
}


.catalog-index ul li a span:after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: -25px;
  top: 50%;
}
.catalog-index ul li a.non-circle span:after {
  content: none;
}
.catalog-index ul.catalog-index__mobile {
  display: none;
}
@media (max-width: 1100px) {
  .catalog-index ul {
    width: 64%;
  }

  .catalog-index ul li {
    width: 150px;
    margin-right: 2%;
  }
}
@media (max-width: 900px) {
  .catalog-index {
    padding-bottom: 0;
  }

  .catalog-index__wrapper {
    margin: 0 auto;
    min-height: 0;
    padding-left: 0;
    border: 0;
    background-image: none;
    background-position: none;
    padding-top: 0;
  }

  .catalog-index h2 {
    font-size: 24px;
  }

  .catalog-index ul {
    width: 80%;
  }

  .catalog-index ul li {
    width: 160px;

  }

  .catalog-index ul li a {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .catalog-index ul {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .catalog-index__list-hidden {
    display: none;
  }
  .catalog-index ul.catalog-index__desktop {
    display: none;
  }

  .catalog-index ul.catalog-index__mobile {
    display: flex;
  }


}
@media (max-width: 400px) {
  .catalog-index ul li {
    width: 120px;
  }
}
