.header {
  width: 100%;
  position: relative;
  padding-bottom: 5px;
  max-width: 1920px;
  margin: 0 auto;

  & .wrapper {

  }

  & ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.header__top {
  & .wrapper {
    padding-top: 17px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2F2F2F;
  }

  & ul {
    margin-left: 30%;

    & li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #FFFFFF;
    }
  }
}

.header__write {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
  margin-right: 28px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/write.svg") no-repeat;
    width: 28px;
    height: 28px;
    top: -7px;
    left: -30px;
  }
}

.header__price {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 11px;
  min-height: 40px;
  text-align: center;
  background: #F5850A;
  box-sizing: border-box;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 12px;
  margin-top: 2px;
}

.header__bottom {
  & .wrapper {
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
  }

  & nav {
    display: flex;
    align-items: center;

    & li {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }
    }

    & a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      display: flex;
      align-items: flex-end;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFFFFF;
    }

    & .header__active a {
      color: #F5850A;
    }
  }
}

.header__burger {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  top: 40px;
  right: 20px;
  position: absolute;
  z-index: 4;
}
@media(max-width: 1150px) {
  .header__top {
    & .wrapper {
      & ul {
        margin-left: 20%;
      }
    }
  }
}
@media(max-width: 1024px) {
  .header {
    padding-bottom: 30px;
  }

  .header__top {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 200px;
    z-index: 6;
    border-bottom: none;

    & .wrapper {
      padding-left: 0;

      & ul {
        position: absolute;
        top: 305px;
        left: 5px;
        display: flex;
        flex-direction: column;
        margin-left: 0;

        & li {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .header__write {
    position: absolute;
    top: 240px;
    left: 20px;
  }

  .header__logo {
    margin-top: 10px;

    & img {
      width: 62px;
      height: auto;
    }
  }

  .header__price {
    display: none;
    position: absolute;
    top: 500px;
    right: 20px;
    margin: 0;
    z-index: 7;
  }

  .header__bottom {
    position: relative;
  }

  .header__bottom nav {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    background: #1b1b1b;
    min-height: 100vh;
    width: 233px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    padding-top: 115px;
    padding-left: 40px;

    & a {
      z-index: 7;
    }

    & .header__active a {
      font-weight: 400;
      border-color: rgba(0, 0, 0, 0.2);
    }

    & ul {
      flex-direction: column;
      align-items: flex-start;

      & li {
        margin-bottom: 10px;
      }
    }
  }

  .header .header__burger {
    display: block;
  }
}
@media(max-width: 500px) {
  .header__logo {
    margin-top: 15px;
  }

  .header__burger {
    top: 25px;
  }
}
